header {
    display: flex;
    border: 3px solid black;
    position: sticky;
    top: 0px;
    background-color: white;
}

.logo {
    height: 10em;
}

.content {
    display: flex;
    background-color: sienna;
}

.fishList {
    border: 3px solid black;
    font-family: ;
    background-color: seashell;
}

.quotes {
    border: 3px solid black;
    background-color: goldenrod;
}

.locations {
    border: 3px solid black;
    background-color: seashell;
}

.tankTips {
    border: 3px solid black;
    background-color: seagreen;
}

.container--left {
    flex: 3;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.fishList {
    order: 0;
}

.container--right {
    flex: 1;
}

.container--left article {
    margin-bottom: 25px;
}

.container--left article section {
    margin-bottom: 15px;
}

.tip__text {
    margin-bottom: 15px;
    padding: 5px;
}